:root {
    --main-color: #19283f;
    --sky-blue-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--sky-blue-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


/* start navbar */

.navbar {
    background-color: var( --main-color)
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var( --sky-blue-color);
}

.navbar .search {
    border-left: 1px solid var( --sky-blue-color)
}

.navbar .search svg {
    color: var( --sky-blue-color)
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[ aria-expanded="true"] {
    border-color: var( --sky-blue-color);
}

.main-btn {
    color: var(--yellow-color) !important;
    background-color: var( --red-color) !important;
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: white !important;
    padding: 0.5rem 1rem;
}


/* end navbar */


/*   start landing  */

.landing {
    background-color: var(--main-color);
    height: calc(100vh - 72px);
}

.landing h1 {
    font-weight: normal;
}


/*   end landing  */


/* start features */

.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color)
}

.features .icon-holder .icon {
    color: var(--sky-blue-color)
}

.features .feat h4 {
    color: var(--yellow-color)
}


/* end features */


/* start our work */

.our-work {
    background-color: var(--section-color);
}

.our-work ul .active {
    color: var(--yellow-color) !important;
    background-color: var( --red-color) !important;
}

.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:not(.active):hover {
    color: var( --red-color) !important;
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    /* 10px 's padding */
    height: calc(100% - 10px);
    /* 10px 's padding */
    background-color: #33d1ccc2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc( -100% - 5px));
    /* 5px 's padding */
    -webkit-transform: translateX(calc( -100% - 5px));
    -moz-transform: translateX(calc( -100% - 5px));
    -ms-transform: translateX(calc( -100% - 5px));
    -o-transform: translateX(calc( -100% - 5px));
}

.our-work .box:hover::before {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
}

.our-work .our-work-btn {
    width: 150px !important;
}


/*end our work */


/* start stuff */

.stuff .stuff-P {
    width: 500px;
    margin: auto;
    /*  margin: auto; => to be in middle  */
}


/* end stuff */


/* start our team */

.our-team {
    background-color: var(--section-color);
}

.our-team h2 {
    color: var(--yellow-color);
}

.our-team h3 {
    background-color: var(--sky-blue-color);
    color: white;
}


/*end our team */


/* start project */

.project {
    background-color: var(--main-color);
    padding: 6rem;
}


/* end project */


/* start subscribe */

.subscribe {
    background-color: var(--yellow-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe input[type="text"]::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--main-color);
    color: var(--yellow-color);
}


/* end subscribe */


/* start footer */

.footer {
    background-color: var(--main-color);
}

.footer .copyRight>span {
    color: var(--sky-blue-color);
}

.footer .copyRight div span {
    color: var(--yellow-color);
}

.footer .contactUs svg {
    width: 20px;
    height: 20px;
    padding: 8px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}